services:
  front-nginx:
    image: nginx:latest
    container_name: front-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /srv/nginx/front/default.conf:/etc/nginx/conf.d/default.conf
      - /srv/nginx/front:/srv/nginx/front
      - /srv/certbot/conf:/etc/letsencrypt
      - /srv/certbot/www:/var/www/certbot
    restart: always
    networks:
      - backend

  prod-nginx:
    image: nginx:latest
    container_name: prod-nginx
    expose:
      - "80"
    volumes:
      - /srv/nginx/prod/default.conf:/etc/nginx/conf.d/default.conf
      - /srv/nginx/prod:/srv/nginx/prod
    restart: always
    networks:
      - backend

  test-nginx:
    image: nginx:latest
    container_name: test-nginx
    expose:
      - "80"
    volumes:
      - /srv/nginx/test/default.conf:/etc/nginx/conf.d/default.conf
      - /srv/nginx/test:/srv/nginx/test
    restart: always
    networks:
      - backend

  mysql:
    image: mysql:8.0.36
    container_name: mysql
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=a609
      - MYSQL_DATABASE=eatda
      - MYSQL_USER=eatda
      - MYSQL_PASSWORD=a609
      - TZ=Asia/Seoul
    volumes:
      - /srv/mysql:/var/lib/mysql
    command:
      - "--character-set-server=utf8mb4"
      - "--collation-server=utf8mb4_unicode_ci"
    restart: always
    networks:
      - backend

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    expose:
      - "9090"
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--web.external-url=http://i13a609.p.ssafy.io/prometheus/"
      - "--web.route-prefix=/"
    volumes:
      - /srv/prometheus:/etc/prometheus
    restart: always
    networks:
      - backend

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    expose:
      - "3000"
    environment:
      - GF_SERVER_ROOT_URL=http://i13a609.p.ssafy.io/grafana/
      # - GF_SERVER_SERVE_FROM_SUB_PATH=true
    volumes:
      - grafana-storage:/var/lib/grafana
    restart: always
    networks:
      - backend
      
  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - /srv/certbot/conf:/etc/letsencrypt
      - /srv/certbot/www:/var/www/certbot
    entrypoint: ""

networks:
  backend:
    external: true
    name: backend

volumes:
  grafana-storage:
